# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Стол раба\Жепа\ИКБО-10-19\Пятый_Семак\Разработка серверных частей интернет ресурсов\Пр2\RSCHIR\BackendPr2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
